.calendar {
	width: 260px;
}
.weekdag-row-first {
	float: right;
}
.weekdag-row {
	clear: both; 
}
.weekday {
	float: left;
	width: 35px;
	height: 35px;
	padding: 0;
	text-align: center;
	margin: 3px;
}
.weekdag-header .weekday {
	width: 37px;
	margin: 0;
}
.weekday.active {
	background-color: black; 
}
.weekdag-row {
}
.container {
	top: 150px;
}
.btnNext {
	float:right;
}
.buttons {
	margin-top: 100px;
}
.aantalUren{
	width: 20px;
}
input.notvisible{
	display: none;
}
